
h1 {
    font-size: 36px;
    text-align: center;
    color: red;
}

h2{
    color: green;
    text-align: center;
    font-size: 26px;
}

.articolo h2 {
    text-decoration: underline;
}

h3 {
    text-align: center;
    color: green;
}

nav {
    text-align: center;
}

.avviso div {
    margin: 0 auto;
}

.avviso p {
    font-size: 40px;
    font-weight: bolder;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    font-size: 18px;
}

li{
    font-size: 18px;
}

th {
    font-size: 20px;
}

td {
    vertical-align: top;
}

.indice ul {
    padding-inline-start: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.indice table {
    border: 1px;
    border-color: black;
}

.indice td {
    width: 200px;
}

a{
    font-size: 18px;
}

img {
    width: 100%;
}
